/* src/styles/QuizList.scss */

.quiz-list-page-container {
  background-color: #f9f9f9;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* 검정색 배경 */
    padding: 10px 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    background: none;
    color: white;
    border: none;

    font-size: 16px;
  }

  .controls-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* src/styles/quiz_list_page/QuizListPage.scss */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.page-button {
  margin: 0 5px;
  padding: 10px 20px; /* 버튼을 크게 만듦 */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* 글씨 크기 키움 */
}

.page-button.active {
  background-color: #0056b3; /* 활성화된 버튼 색상 */
}

.page-button:hover {
  background-color: #0056b3; /* 호버 시 색상 */
}
