.users-info-list {
    padding: 10px; /* padding을 줄여 전체적인 여백 감소 */
    overflow-y: auto; /* 스크롤 추가 */
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0; /* 추가적인 리스트 내부 여백 제거 */
  
      .user-item {
        background-color: white;
        padding: 8px; /* padding을 줄여 항목 크기 감소 */
        border-radius: 8px;
        margin-bottom: 8px; /* 항목 간의 간격을 줄임 */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
  
        .user-details {
          display: flex;
          flex-direction: column;
  
          .user-name {
            font-weight: bold;
            font-size: 14px; /* 글씨 크기를 줄여서 높이 감소 */
          }
  
          .user-nickname,
          .user-email,
          .user-created {
            margin-top: 2px; /* 항목들 사이 간격 줄임 */
            font-size: 12px; /* 글씨 크기를 줄여서 높이 감소 */
            color: #555;
          }
  
          .user-created {
            font-style: italic;
          }
        }
      }
    }
  }
  