/* src/styles/post_list_page/PostList.scss */

.post-list {
  margin: 0 20px;

    display: flex;
    flex-direction: column;
    gap: 15px; /* 각 포스트 아이템 간의 간격 */
  }
  
  .post-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* 리스트에서 아이템 간 간격을 위해 추가 */
  }
  
  .post-type {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .post-question {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .post-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
  }
  
  .post-nickname, 
  .post-date, 
  .post-likes, 
  .post-views {
    margin-right: 10px;
  }
  
  .post-nickname {
    font-weight: bold;
    color: #333;
  }
  
  .post-date {
    color: #666;
  }
  
  .post-likes {
    color: #e74c3c; /* 좋아요 부분을 강조하기 위해 빨간색 추가 */
  }
  
  .post-views {
    color: #3498db; /* 조회수는 파란색으로 */
  }
  