/* src/styles/QuizList.scss */

.post-list-page-container {
    background-color: #f9f9f9;
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333; /* 검정색 배경 */
      padding: 10px 20px;
    }
    
    .nav-button {
      padding: 10px 20px;
      background: none;
      color: white;
      border: none;
  
      font-size: 16px;
    }
  
    .controls-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .page-button {
      padding: 10px 15px;
      margin: 0 5px;
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .page-button.active, .page-button:hover {
      background-color: #007bff;
      color: #fff;
    }
    
    .page-button:disabled {
      background-color: #ddd;
      cursor: not-allowed;
    }
    
}
  
  
  
  
  
  
  