/* QuizSolve.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* quiz-body 스타일 */
.quiz-body {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%;
  min-height: 100vh; /* 전체 화면 높이 */
  position: relative;
  overflow: hidden; /* 내부 스크롤바 제거 */
}

.back-button {
  position: absolute; /* 절대 위치 */
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  &:hover {
    background-color: silver;
    border-radius: 20px;
  }
}

.dropdown-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  .like-pin-container{
    display: flex;
    flex-direction: row;
    .like-pin-button{
      background-color: transparent;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.setting-button {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  &:hover {
    background-color: silver;
    border-radius: 20px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: #fff;
  border: 2px solid #dddddd85;
  overflow: hidden;
  z-index: 1000;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.dropdown-link {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid silver;
  cursor: pointer;
  text-align: left;
  background: none;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: #f2f2f2;
  }
}

.quiz-solve-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  max-width: 600px;
  padding: 20px;
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
}
/* 모달의 배경을 어둡게 하고, 불투명 처리 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 */
  z-index: 999; /* 모달을 화면의 앞쪽에 배치 */
}

/* 모달창 스타일 */
.report-modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  .report-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .report-quit-button{
      border: none;
      background-color: transparent;
      size: 10px;
    }
  }
}

/* 신고 내용 입력 칸 */
.custom-reason-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .quiz-solve-page {
    max-width: 90%;
    padding: 20px;
  }
}
