.postview-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  .back-btn{
    align-self: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
    margin-top: 10px;
    margin-right: 10vw;
  }
}
