.dashboard-container {
  flex-grow: 1;  /* 남은 공간을 모두 사용 */
  display: flex;
  flex-direction: column;  /* 세로로 나열 */
  justify-content: center;  /* 전체 대시보드를 세로로 중앙 정렬 */

  .my-home-btn {
      width: 100px;
      padding: 10px 20px;
      margin-bottom: 20px; /* 버튼과 아래 콘텐츠 사이에 여백 추가 */
      border: none;
      border-radius: 8px;
      background-color: #000000;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
    
      &:hover {
        background-color: #0056b3;
      }
    
    }

  .row {
      display: flex;
      gap: 20px;  /* 각 ListBox 컴포넌트 사이의 간격 */
      margin-bottom: 20px;  /* 각 row 사이의 간격 */
  }

}

.detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 어둡게 */
  z-index: 999; /* 모달을 화면의 앞쪽에 배치 */
}

/* 모달창 스타일 */
.detail-report-modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}