$primary-color : #00CBF7;
$hover-color : #00caf778;


.login-container{       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    .title-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 17px;
        color: black;

        .logo{
            color: $primary-color;
            font-size: 50px;
            font-weight: 400;
            text-align: center; /* 로고 텍스트 중앙 정렬 */
        }
    }
    .back-button {
        position: absolute; /* 버튼을 절대 위치로 설정 */
        top: 20px; /* 상단에서 20px 아래 */
        left: 20px; /* 좌측에서 20px 오른쪽 */
        background: none;
        border: none;
        font-size: 50px;
        cursor: pointer;
        &:hover{
            background-color: silver;
            border-radius: 20px;
        }
    }
    .button-others{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        background-color: transparent;
        &:hover{
            color: $primary-color;
            border-radius: 20px;
        }
    }
    .login-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 460px;
        height: 360px;
        border: 2px solid silver;
        border-radius: 8px;
        text-align: center;
        .form-label{
            padding-left: 55px;
            margin-bottom: 2px;
            text-align:start;
            font-weight: 900;
        }
        .input-box{
            width: 350px;
            flex-direction: column;
            height: 50px;
            margin-bottom: 14px;
            border-radius: 8px;
            border: 1px solid silver;
            padding-left: 15px; 
            &::placeholder {
                opacity: 0.7;
            }
        }
    
        .button{
            width: 100px;
            height: 50px;
            margin-left: 10px;
            margin-top: 7px;
            margin-bottom: 7px;
            border-radius: 8px;
            border: 1px solid silver;
            background-color: #00CBF7;
            font-size: 12px;
            font-weight: 750;
            &:hover{
                background-color: $hover-color; 
            }
        }
        .button-login-done{
            width: 350px;
            height: 50px;
            margin-top: 14px;
            border-radius: 8px;
            border: 1px solid silver;
            padding-left: 15px; 
            font-weight: 750;
            font-size: 20px;
            background-color: $primary-color    ;
            &:hover{
                background-color: $hover-color; 
            }
        }
        .button-login-social{
            
            width: 170px;
            height: 50px;
            margin-top: 14px;
            border: none;
            border-radius: 8px;
            background-color: transparent;
            padding: 0;
            margin-left: 1%;
            margin-right: 1%;
            box-sizing: border-box;
            &:hover{
                background-color: rgba(192, 192, 192, 0.368); 
                img {
                    filter: brightness(0.8); /* 이미지를 어둡게 */
                }
            }
            img {
                border-radius: 8px;
                width: 100% !important;
                height: 100% !important;
                object-fit: cover; 
                transition: filter 0.3s ease;
              }
        }
        .checkbox-label{
            margin-left: 5px;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.655);
        }
        .register-font{
            font-weight: 800;
            font-size: 20px;
        }
    }
    
}